.section {
  margin-top: 5%;
}

h2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  font-family: 'Poppins', sans-serif;
  margin-top: 3em;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
